/* Hide Scrollbar */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

/* Para Firefox */
html,
body {
  scrollbar-width: none;
}

/* Asegurar scroll funcional */
html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

/* LOCATION SECTION */

.property-container {
  display: flex;
  gap: 20px;
  flex-direction: row;
  justify-content: center;

  height: 100vh;
}



@media (max-width: 768px) {
  .property-gallery {
    width: 100%;
  }
  .property-container {
    margin-top: -16rem;
    
    height: 50rem;
    display: flex;
    flex-direction: column;
    gap: 2px !important;
  }
}
